{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light">Back To Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="card" style="width: 30rem;padding-top: 1rem; background-color: #F5E8E8;">
          <a href="{% url 'profile' post.author.profile.pk %}" class="text-primary" style="text-decoration: none;margin-bottom: 1rem; color: inherit !important; font-weight: bold !important;">
            {% if post.author.profile.name %}
            {{post.author.profile.name}}
          {% else %}
          {{post.author}}
          {% endif %}
        </a>
          {% if post.image %}
          <img src="{{ post.image.url }}" alt="" class="post-image" style="max-width: 100%; height: auto;">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title"><b>
              {% if post.author.profile.name %}
            {{post.author.profile.name}}
          {% else %}
          {{post.author}}
          {% endif %}
            </b> <small>{{post.body}}</small></h5>
            <div class="d-flex flex-row">
    
              <form method="POST" action="{% url 'like' post.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button style="background-color: transparent;border: none;box-shadow: none;" type="submit">
                  <i class='bx bx-like like-icon' ></i>
                </button>
                <span>{{post.likes.all.count}}</span>
              </form>
              
              
              <form method="POST" action="{% url 'dislike' post.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button style="background-color: transparent;border: none;box-shadow: none;" type="submit">
                  <i class='bx bx-dislike like-icon' ></i>
                  <span>{{post.dislikes.all.count}}</span>
                </button>
              </form>
        
            </div>
    
            <small>{{post.created_on}}</small>
            {% if post.author == request.user %}
            <div class="buttons">
                <a href="{% url 'post-edit' post.pk %}" class="btn btn-success"><i class='bx bx-edit-alt'></i></a>
                <a href="{% url 'post-delete' post.pk %}" class="btn btn-danger"><i class='bx bx-trash' ></i></i></a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div>
    {% for comment in comments %}

    <!-- showing only the comments to the posts. Not replies  -->
    <!-- parent means comment to the post  -->
    {% if comment.is_parent %} 
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom" style="background-color: #F5E8E8;border-radius: 20px;padding: 10px;">
            <p>
                <div class="d-flex" style="gap: 20px;">
                    <a href="{% url 'profile' comment.author.profile.pk %}">
                        <img class="post-img rounded-circle" height="30" width="30" src="{{ comment.author.profile.avatar.url }}" />
                    </a>
                    <p class="post-text">
                        <a class="text-primary post-link" href="{% url 'profile' comment.author.profile.pk %}" style="text-decoration: none !important; color: inherit !important;font-weight: bold;">
                            {% if comment.author.profile.name %}
                            {{comment.author.profile.name}}
                            {% else %}
                            {{comment.author.profile}}
                            {% endif %}
                        </a> {{ comment.created_on }}
                    </p>
                </div>
                <!-- can delete your comment on other's posts  -->
                {% if request.user == comment.author %}
                    <a href="{% url 'comment-delete' post.pk comment.pk %}" class="edit-color btn btn-danger">Delete</i></a>
                {% endif %}
            </p>
            <p>{{ comment.comment }}</p>

            <!-- showing the likes and dislikes on all the comments  -->
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'comment-like' post.pk comment.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        Like <span>{{ comment.likes.all.count }}</span></i>
                    </button>
                </form>

                <form method="POST" action="{% url 'comment-dislike' post.pk comment.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        Dislike <span>{{ comment.dislikes.all.count }}</span></i>
                    </button>
                </form>

                <!-- enabling the reply to comment using javascript commentReplyToggle function . mentioned inside static/js folder -->
                <div>
                    <button class="remove-default-btn" onclick="commentReplyToggle('{{ comment.pk }}')">Reply</button>
                </div>
        </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5 d-none" id="{{ comment.pk }}">
        <div class="col-md-5 col-sm-12">
            <form method="POST" action="{% url 'comment-reply' post.pk comment.pk %}">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div>


<!-- showing all the comment replies with a slight shift to the left  -->
    {% for child_comment in comment.children %}
    <div class="row justify-content-center mt-3 mb-5 child-comment" style="margin-left:50px;">
        <div class="col-md-5 col-sm-12 border-bottom" style="background-color: #F5E8E8;border-radius: 20px;padding: 10px;">
            <p>
                <div class="d-flex" style="gap:20px;">
                    <a href="{% url 'profile' child_comment.author.profile.pk %}">
                        <img class="rounded-circle post-img" height="30" width="30" src="{{ child_comment.author.profile.avatar.url }}" />
                    </a>
                    <p class="post-text">
                        <a class="text-primary post-link" href="{% url 'profile' child_comment.author.profile.pk %}"  style="text-decoration: none !important; color: inherit !important;font-weight: bold;">
                            {% if child_comment.author.profile.name %}
                            {{child_comment.author.profile.name}}
                            {% else %}
                            {{child_comment.author.profile}}
                            {% endif %}
                        </a> {{ child_comment.created_on }}
                    </p>
                </div>
                {% if request.user == child_comment.author %}
                    <a href="{% url 'comment-delete' post.pk child_comment.pk %}" class="edit-color"><i class="fas fa-trash"></i></a>
                {% endif %}
            </p>
            <p>{{ child_comment.comment }}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>
 <!-- for commentReplyToggle function -->
<script type="text/javascript" src="{% static 'js/social.js' %}"></script>
{% endblock %}
