.custom-navbar-bg{
    background-color: #F5E8E8;
}
.profile-icon{
    font-size: 500px;
    color: #DA2424;
}
.inbox-icon{
    font-size: 30px;
    color: #DA2424;
}
.like-icon {
    font-size: 20px;
  }