

{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

<!-- {% url 'customer:create_job' as create_job_url %} -->


<div class="container bg-light mt-4 pt-3 pb-3">
  <div class="row">
    <div class="col-lg-4">
      <div class="text-center">
        <img src="{% if request.user.userprofile.avatar %}{{ request.user.userprofile.avatar.url }}{% else %}{% static 'img/images.png' %}{% endif %}" alt="" class="rounded-circle mb-2" width="100" height="100">
        <h4>{{ request.user.get_full_name }}</h4>
        <p class="text-secondary">{{ request.user.email }}</p>
      </div>
    </div>
    <div class="col-lg-8">
      <!-- {% block main %} -->
        <!-- Basic Information -->
        <b class="text-secondary">Basic Information</b><br/>
        <div class="card bg-white mt-2 mb-5">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form user_form %}
                    {% bootstrap_form profile_data_form %}
                    <input type="hidden" name="action" value="update_profile">
                    <button type="submit" class="btn btn-warning">Save</button>
                </form>
            </div>
        </div>

        <!-- Password -->
        <b class="text-secondary">Change Password</b><br/>
        <div class="card bg-white mt-2 mb-5">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form password_form %}
                    <input type="hidden" name="action" value="update_password">
                    <button type="submit" class="btn btn-warning">Save</button>
                </form>
            </div>
        </div>
      <!-- {% endblock %} -->
    </div>
  </div>
</div>

{% endblock %}